<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Lithuania</key>
	<array>
		<string>Today I walked along the dunes of the Curonian Spit, which splits the Curonian Lagoon from the Baltic Sea.</string>
		<string>Yesterday I journeyed to The Hill of Crosses.</string>
		<string>I can&apos;t believe I just went scubadiving in the lakes of Zarazai.</string>
		<string>Yesterday I saw a boat race in Lake Galvė in Trakai.</string>
		<string>I toured the Gediminas Castle Tower today.</string>
		<string>Can you believe I got to ride a hot-air balloon over Vilnius last night?</string>
		<string>My friend tells me that this country was the last European country to adopt Christianity.</string>
		<string>I hear this country is also called &apos;The Land of Storks.&apos;</string>
		<string>My friend says that it&apos;s bad luck to whistle indoors because it&apos;s believed to call in the &apos;evil little devils.&apos;</string>
	</array>
	<key>Finland</key>
	<array>
		<string>Isn&apos;t it incredible that I&apos;m where Santa Clause lives?!</string>
		<string>I hear that I&apos;m in the country that drinks the most coffee worldwide!</string>
		<string>I can&apos;t believe I&apos;m in the most sparesely population country within the European Union!</string>
		<string>My friend says this country is also nicknamed &apos;Land of Midnight Sun.&apos;</string>
		<string>This country sure has a lot of lakes.</string>
		<string>I&apos;m so ecstatic to be traveling where the creators of Angry Birds were born!</string>
		<string>Did you know there are no public payphones here? I&apos;m glad I haven&apos;t lost my phone yet!</string>
		<string>Today I visited the Temppeliaukio Church. I can&apos;t believe it is built directly into the rock!</string>
		<string>Yesterday I went to the most relaxing sauna. Now I know why this country is famous for them!</string>
	</array>
	<key>Hungary</key>
	<array>
		<string>I can&apos;t believe the Rubik&apos;s cube was invented here!</string>
		<string>I hear this country is known for its natural hot springs.</string>
		<string>Today I took a swim in Lake Balaton.</string>
		<string>Last night I tried gulyás for the first time!</string>
		<string>Yesterday I arrived at the &apos;Paris of the East.&apos;</string>
		<string>I took a wonderful cruise down the Danube River this evening. This city is so beautiful at night.</string>
		<string>I went shopping at the Ecseri Flea Market today.</string>
		<string>Today I walked up to the summit of Gellért Hill.</string>
		<string>During the summer, I hear there&apos;s a huge musical event called the Sziget Festival. I hope I can go this year!</string>
	</array>
	<key>Luxembourg</key>
	<array>
		<string>My friend says this country is the least populated country in the European Union.</string>
		<string>Today I visited Amazon&apos;s headquarters!</string>
		<string>I hear this country is a well-known tax haven.</string>
		<string>I can&apos;t believe I&apos;m in one of the smallest countries in the world!</string>
		<string>I&apos;m in the the only Grand Duchy in the world!</string>
		<string>Yesterday I visited Europe’s largest television and radio company!</string>
		<string>I&apos;m in the richest country in Europe!</string>
		<string>Last night I took a tour of Château de Vianden.</string>
		<string>Today I went to see the Bock promontory and I walked through its vast underground system of passages.</string>
	</array>
	<key>Moldova</key>
	<array>
		<string>I just visited Cricova, the largest underground wine cellar in the world.</string>
		<string>I almost forgot to exchange my euros for leu at the airport!</string>
		<string>Yesterday I went swimming in Chisinau Lake.</string>
		<string>Today I biked around Chisinau.</string>
		<string>Last night I saw a play at the Chekhov Drama Theatre!</string>
		<string>My friends and I drove up north to see the Soroca Fortress today!</string>
		<string>I took a boat river tour along the Nistru River today!</string>
		<string>I toured the Saharna Monastery today.</string>
		<string>I went shopping at the art market on Bul. Stefan Cel Mare yesterday!</string>
	</array>
	<key>Russia</key>
	<array>
		<string>I just rode one of the world’s deepest subways! So many stairs!</string>
		<string>I just celebrated Maslenitsa with some friends! I ate many pancakes.</string>
		<string>Saint Basil&apos;s Cathedral really glows at night.</string>
		<string>Today I visited the Kremlin. It only cost 700 ruble!</string>
		<string>I tried black bread at dinner yesterday and it was delicious.</string>
		<string>Last night I drank my first kvass at Cafe Pushkin!</string>
		<string>It&apos;s freezing here! I hope you are staying warm.</string>
		<string>I saw a ballet at the Bolshoi. It was quite beautiful.</string>
		<string>I visited TSUM today. It&apos;s the biggest mall I&apos;ve ever seen!</string>
	</array>
	<key>Bulgaria</key>
	<array>
		<string>I&apos;m visiting one of the oldest countries in Europe!</string>
		<string>I can&apos;t believe the inventor of the first computer was born here!</string>
		<string>Did you know the national instrument here is the bagpipes?</string>
		<string>Today I went to the world&apos;s largest IMAX 3D cinema.</string>
		<string>I&apos;m where Spartacus was born!</string>
		<string>Yesterday I went hiking in the Rila Mountains.</string>
		<string>Last night I got lost in Plovdiv&apos;s narrow cobbled streets and quaint houses.</string>
		<string>I just went swimming in the Black Sea. Isn&apos;t that exciting?</string>
		<string>Last night I went to a mineral water spa. It was very relaxing.</string>
	</array>
	<key>France</key>
	<array>
		<string>Yesterday I ate this dessert with a crackling top. It was very delicious!</string>
		<string>Everyone here wears these cute little chef hats. I really do like them a lot.</string>
		<string>I&apos;m just sitting here with a glass of wine in the Jardin des Tuileries.</string>
		<string>I visited Euro Disney today. It was quite fun. I think you would have enjoyed it too.</string>
		<string>I took an evening cruise on the Seine. It was incredibly romantic.</string>
		<string>Today I saw the Mona Lisa. I&apos;ll admit, I did get a bit teary-eyed.</string>
		<string>I just had the most amazing sugar crêpe in the Latin Corner.</string>
		<string>Earlier today I visited the coziest bookstore, Shakespeare and Company. So many books!</string>
		<string>This afternoon I went shopping on Avenue des Champs-Elysées. There were so many designer shops!</string>
	</array>
	<key>United Kingdom</key>
	<array>
		<string>I took a tour of the Tower of London today.</string>
		<string>I got to ride the Eye last night! The city is gorgeous from above.</string>
		<string>I took a trip out to Stonehenge today. The experience was very magestic.</string>
		<string>Today I saw the changing of the guards outside the palace!</string>
		<string>I took a train into Kings Cross last night.</string>
		<string>Yesterday I took the Warner Bros. Studio Tour. I saw all of the costumes and props from the Harry Potter films!</string>
		<string>Today I got to see the expensive jewels inside Westminster Abbey.</string>
		<string>I can&apos;t believe I&apos;m walking in Shakespeare&apos;s hometown.</string>
		<string>I&apos;ve been riding the Tube all around the city this week.</string>
	</array>
	<key>Portugal</key>
	<array>
		<string>Did you know over half of the world&apos;s cork is produced here?</string>
		<string>I drove across the longest bridge in Europe today!</string>
		<string>Yesterday I bought a book from Bertrand, the oldest bookstore in the world!</string>
		<string>Last night I walked around the cork forests and olive groves of Alentejo.</string>
		<string>I just took a toboggan ride down to Funchal, Maderia!</string>
		<string>My friends and I drove down to Cape St. Vincent to catch a stunning sunset over the ocean.</string>
		<string>Today I jumped on a tiny boat to explore Ponta da Piedade. The place had such a majestic aura with its large rock formations and colorful waters.</string>
		<string>I just toured one of the largest aquariums in the world!</string>
		<string>I visited The Mouth of Hell today! It was humbling to watch the roaring waves crash against the rocks.</string>
	</array>
	<key>Ukraine</key>
	<array>
		<string>I had to exchange my Euros for Hryvnia at the airport.</string>
		<string>I just had the amazing soup called borsch.</string>
		<string>I can&apos;t believe I&apos;m in the second biggest country in Europe!</string>
		<string>I hear that Ivana Kupala Day is a blast!</string>
		<string>Today I traveled through this leafy pathway called the Tunnel of Love.</string>
		<string>Did you know the world&apos;s heaviest aircraft was made here?</string>
		<string>Yesterday I visited the National Chornobyl Museum.</string>
		<string>I took a trip to catch a glimpse of the Black Sea today.</string>
		<string>Today I got lost adventuring around Lviv.</string>
	</array>
	<key>Czech Republic</key>
	<array>
		<string>This place is almost entirely surrounded by mountains.</string>
		<string>I just visted the oldest university in Eastern Europe!</string>
		<string>I can&apos;t believe Ivana Trump was born here!</string>
		<string>I hear this place is the castle capital of the world.</string>
		<string>Today I visited The City of 100 Spires.</string>
		<string>Yesterday I crossed The Charles Bridge. Did you know it&apos;s over six hundred years old?</string>
		<string>I hear this country is known for its animated and puppet films.</string>
		<string>Last night tried knedliky, which are also known as dumplings. They was so yummy!</string>
		<string>I&apos;m where Franz Kafka was born!</string>
	</array>
	<key>Estonia</key>
	<array>
		<string>My friend tells me that this country was the first to use online voting.</string>
		<string>I can&apos;t believe there is free public transportation here!</string>
		<string>Today I visited the Parnu, the summer capital of this country.</string>
		<string>Isn&apos;t it incredible that half of this country is covered by forests?!</string>
		<string>Yesterday I went kiiking for the first time. I strapped into what looked like a swing, but it circled all the way around.</string>
		<string>I took a tour of Lahemaa National Park today.</string>
		<string>Did you know the light switches here are usually at waist level?</string>
		<string>There are over than 1,500 offshore islands here!</string>
		<string>I went to Tallinn Botanical Garden today!</string>
	</array>
	<key>Spain</key>
	<array>
		<string>My friend says this country has the most enthusiastic radio listeners in Europe!</string>
		<string>I heard that bullfighting has been a popular sport here for thousands of years.</string>
		<string>Today I traveled to the largest salt lake in Europe!</string>
		<string>I just went hiking in the Pyrenees!</string>
		<string>Yesterday I explored the Gate of the Sun plaza. Did you know it is in the geographical center of this country?</string>
		<string>My friend claims Coca Cola was invented here, but I don&apos;t believe him.</string>
		<string>I just spent the day exploring La Rambla. I love how the street is lined with blooming green trees.</string>
		<string>Last night I walked around the &apos;City of Three Cultures.&apos;</string>
		<string>I saw a fútbol game at Camp Nou today!</string>
	</array>
	<key>Greece</key>
	<array>
		<string>Today I visited Mount Olympus. My friend says it&apos;s the home of the Gods!</string>
		<string>My friend says shipping is an important industry here.</string>
		<string>Did you know the official name of this country is the Hellenic Republic?</string>
		<string>I&apos;m in one of the most mountainous countries in Europe!</string>
		<string>I can&apos;t believe I&apos;m where the Olympic Games originated!</string>
		<string>Did you know that voting is required by law here?</string>
		<string>I walked around the Parthenon today!</string>
		<string>Yesterday I visited the Acropolis Museum.</string>
		<string>I sat in the Epidaurus Theater today. Can you believe it?!</string>
	</array>
	<key>Albania</key>
	<array>
		<string>My friend says there isn&apos;t a McDonald&apos;s anywhere in this country!</string>
		<string>I&apos;m where Mother Teresa&apos;s ancestors were born. Can you believe it?</string>
		<string>Today I visited Kruja Castle. It was once the center of Skanderbeg’s battle against the Ottoman Turks.</string>
		<string>Yesterday I visited an archeological site called Butrint. It used to be a Roman city in Epirus!</string>
		<string>I spent a very relaxing weekend at Mt Dajti National Park.</string>
		<string>I walked along the beaches of the Ionian Coast today.</string>
		<string>Here, my friend says shaking your head side-to-side means yes and shaking your head up-and-down means no.</string>
		<string>For the most part, people use furgons to get around this country.</string>
		<string>I just went shopping at the treg.</string>
	</array>
	<key>Romania</key>
	<array>
		<string>I can&apos;t believe I&apos;m in the place that inspired Bram Stoker&apos;s &apos;Dracula.&apos;</string>
		<string>I&apos;m where the fountain pen was invented!</string>
		<string>Today I visited The Black Church. Can you believe it has the largest organ in Europe?!</string>
		<string>My friend says this country has ten &apos;sister&apos; cities in the United States.</string>
		<string>Yesterday I saw the tallest rock sculpture in Europe!</string>
		<string>I just took a tour of the Palace of the Parliament, the second largest civilian building in the world!</string>
		<string>I just visited the Mineralogical Collection of Brad, the only Gold Museum in Europe!</string>
		<string>I went to see the Peleș Castle today.</string>
		<string>Today I saw the Sphinx in Bucegi Natural Park!</string>
	</array>
	<key>Ireland</key>
	<array>
		<string>My friend tells me there are no snakes here. Isn&apos;t that strange?</string>
		<string>I traveled to the Aran Islands today.</string>
		<string>I kissed the Blarney Stone yesterday! Isn&apos;t that crazy?</string>
		<string>Last night I took a cruise on the River Shannon.</string>
		<string>Today I went to the Galway Arts Festival. So many talented people!</string>
		<string>This place has such a fantastic pub scene.</string>
		<string>I&apos;m in the place where Halloween was born!</string>
		<string>I can&apos;t believe the Titanic ship was made here.</string>
		<string>I got to visit the Guinness Storehouse today. Did you know it has seven floors?!</string>
	</array>
	<key>Latvia</key>
	<array>
		<string>Did you know this country is home to Europe&apos;s widest waterfall?</string>
		<string>I hear this country is famous for its amber.</string>
		<string>Today I drove out to the coast to catch a glimpse of the Baltic Sea.</string>
		<string>Yesterday I went birdwatching in Pape.</string>
		<string>I went hiking in Gauja National Park today!</string>
		<string>Today I went kayaking on the Gauja River. It was a blast!</string>
		<string>In the spring, I hear there is a festival called Night of the Museums. I really want to go sometime!</string>
		<string>Last night I took a tour of Turaida Castle.</string>
		<string>I just tried Sorrel soup for the first time!</string>
	</array>
	<key>Slovenia</key>
	<array>
		<string>My friend says this place is one of the most biologically diverse countries in the world!</string>
		<string>Today I visited Postojna Cave. Did you know it has a network of passages that is over 20 km long?</string>
		<string>Yesterday I explored Triglav National Park. It&apos;s one of the oldest parks in Europe!</string>
		<string>I toured Bled Castle on Bled Lake today. Did you know it dates back to the eleventh century?</string>
		<string>Last night I saw an oepra at the Slovene National Theatre.</string>
		<string>I visited the Old Vine House in Maribor today. I can&apos;t believe it houses the oldest wine vine in the world!</string>
		<string>My friends and I ate lunch in an open air market in Ljubljana yesterday.</string>
		<string>I heard you can sleep in a prison cell at the Celica Hostel!</string>
		<string>I can&apos;t believe I just went rafting on the Soca River. It was quite an adventure!</string>
	</array>
	<key>Turkey</key>
	<array>
		<string>Today I visited the ancient city of Troy!</string>
		<string>I can&apos;t believe I&apos;m in a city that&apos;s built on two continents!</string>
		<string>Yesterday I saw the world&apos;s oldest tin mine in Göltepe!</string>
		<string>This place is incredible. I can&apos;t believe Homer and King Midas were born here.</string>
		<string>Last night I went to see the Sultan Ahmed Mosque.</string>
		<string>I went shopping in The Grand Bazzar today.</string>
		<string>I went to the world&apos;s oldest known human settlement today!</string>
		<string>My friend says this country is known for its intricate carpets and rugs.</string>
		<string>I visited the Hagia Sophia Museum yesterday.</string>
	</array>
	<key>Serbia</key>
	<array>
		<string>Today I visited Djerdap Gorge, Europe&apos;s largest gorge!</string>
		<string>My friend says this country is the largest raspberry exporter worldwide!</string>
		<string>I can&apos;t believe Constantine the Great was born here!</string>
		<string>My friends and I walked around Silver Lake today. It has the bluest water I&apos;ve ever seen!</string>
		<string>Last night I had cevappi for dinner. As you know, I&apos;m a meatlover so I thought it was delicious!</string>
		<string>I went to The Cathedral of Saint Sava today. Did you know it is the largest Orthodox church currently in use?</string>
		<string>The Niš Fortress looks so beautiful at night.</string>
		<string>I can&apos;t believe I went bungee jumping at Ada Ciganlija today!</string>
		<string>Today I explored Nikola Pašić square.</string>
	</array>
	<key>Austria</key>
	<array>
		<string>Today I saw the world&apos;s largest emerald in the Imperial Treasury of the Hofburg!</string>
		<string>Yesterday I visited the oldest zoological garden in the world!</string>
		<string>I can&apos;t believe I&apos;m where Arnold Schwarzenegger grew up!</string>
		<string>I hear celebrity chef Wolfgang Puck was born here.</string>
		<string>I got to see some of Europe&apos;s tallest waterfalls today!</string>
		<string>Last night I visited Schoenbrunn Palace.</string>
		<string>Yesterday I went hiking in Lech Zürs.</string>
		<string>Today I visited Red Bull&apos;s Headquarters!</string>
		<string>I tried Viennese Coffee for the first time today.</string>
	</array>
	<key>Norway</key>
	<array>
		<string>I hear this country ranks amongst the most liveable on Earth!</string>
		<string>Today I visited Vinnufossen, Europe&apos;s highest waterfall!</string>
		<string>Last night I drove through the world’s longest road tunnel!</string>
		<string>I can&apos;t believe the cheese slicer was invented here!</string>
		<string>My friend says skiing was invented here.</string>
		<string>Last night I traveled to the Lofoten Islands to see the northern lights.</string>
		<string>Yesterday I went to the very famous hot chocolate factory, Freia! Did you know it was the inspiration for the book &apos;Charlie and the Chocolate Factory?&apos;</string>
		<string>I visited Viking Ship Museum today.</string>
		<string>Yesterday I took a tour of Akershus Castle.</string>
	</array>
	<key>Slovakia</key>
	<array>
		<string>I can&apos;t believe one of the Kings of Madagascar is from here!</string>
		<string>Yesterday I spent a very relaxing evening in Piestany Spa City.</string>
		<string>I hear this country has over 2,400 caves!</string>
		<string>Today I hiked from from Strbske pleso to Skok waterfalls in High Tatras.</string>
		<string>Last night I tried Lokse for the first time and it was fantastic!</string>
		<string>I can&apos;t believe I just took a tour of Bojnice Castle!</string>
		<string>Today I climbed up to the UFO Observation Deck in Bratislava.</string>
		<string>I hear this place is known for their castles.</string>
		<string>Last night I walked around Hviezdoslav Square.</string>
	</array>
	<key>Italy</key>
	<array>
		<string>Yesterday I visited the largest Christian edifice in the world!</string>
		<string>I just went to world&apos;s first true pizzeria, Antica Pizzeria Port’Alba.</string>
		<string>This country is home to the world&apos;s oldest film festival!</string>
		<string>Last night I tossed a coin into the Trevi Fountain.</string>
		<string>Today I got to walk the streets of Pompeii.</string>
		<string>Yesterday I took a tour of the Flavian Amphitheatre.</string>
		<string>I can&apos;t believe I saw Michelangelo&apos;s David today!</string>
		<string>I rode a gondola through all of the city&apos;s canals last night!</string>
		<string>I can&apos;t believe I&apos;m walking around in Leonardo Da Vinci&apos;s hometown.</string>
	</array>
	<key>Netherlands</key>
	<array>
		<string>I can&apos;t believe I am where the microscope and telescope were invented!</string>
		<string>Today I walked through the largest flower garden in the world!</string>
		<string>I tried french fries dipped in mayonnaise today. It was very yummy!</string>
		<string>I&apos;m in the bicycle capital of the world!</string>
		<string>I bought my first pair of wooden klompens today.</string>
		<string>The tallest people in the world live where I am!</string>
		<string>Yesterday I visited Van Gogh Museum.</string>
		<string>There are so many windmill here!</string>
		<string>I hear everyone wears orange here on holidays.</string>
	</array>
	<key>Switzerland</key>
	<array>
		<string>There are four official national languages here!</string>
		<string>I hear this country is known for its long tradition of watchmaking.</string>
		<string>I can&apos;t believe the Red Cross Society originated here.</string>
		<string>I&apos;m in a place that is famous for neutrality in the World Wars.</string>
		<string>Did you know where I am is also known as the Confoederatio Helvetica?</string>
		<string>I hear chocolate is this country&apos;s main export.</string>
		<string>Last night I visited the world&apos;s largest particle physics laboratory, CERN!</string>
		<string>Yesterday I saw the largest church clock face in Europe!</string>
		<string>Today I skied down the Matterhorn. It was a blast!</string>
	</array>
	<key>Croatia</key>
	<array>
		<string>I&apos;m where the necktie was invented!</string>
		<string>Today I visited Hum, the world&apos;s smallest town!</string>
		<string>Yesterday I biked along the Dalmatian Coast.</string>
		<string>Alfred Hitchcock says this country is home to the best sunset in the world.</string>
		<string>I traveled to &apos;The Pearl of the Adriatic&apos; today.</string>
		<string>I can&apos;t believe Marco Polo was born here!</string>
		<string>Last night I walked on the longest fortification walls in Europe!</string>
		<string>Did you know the largest white truffle was found here? My friend apparently thinks so.</string>
		<string>I just went to windsurfing at Zlatni Rat. Its beach extends like a tongue into the sea!</string>
	</array>
	<key>Germany</key>
	<array>
		<string>I&apos;m in the most populated country of Europe!</string>
		<string>Today I visited the largest zoo in the world, Zoologischer Garten.</string>
		<string>I can&apos;t believe I got to go to the Fairy Grottoes. They were the most colorful caves I have ever seen!</string>
		<string>I&apos;m where Beethoven was born!</string>
		<string>My friend tells me this country was the first to adopt Daylight Saving Time.</string>
		<string>Yesterday I visited the oldest sun observatory in Europe!</string>
		<string>Last night I went to Ulm Cathedral, the tallest church in the world!</string>
		<string>I just went shopping in the largest department store in continental Europe!</string>
		<string>I hear this country is where the cuckoo clock was invented!</string>
	</array>
	<key>Bosnia and Herzegovina</key>
	<array>
		<string>I walked across Stari Most today. The view of the town from the bridge was absolutely breathtaking!</string>
		<string>Today I went swimming by the Kravice Waterfalls.</string>
		<string>Yesterday I visited the Tunnel Museum in Sarajevo.</string>
		<string>My friend says this country is nicknamed &apos;Heart Shaped Land.&apos;</string>
		<string>I almost forgot to exchange my dollars for markas at the hotel!</string>
		<string>I heard this country hosted the 1984 Winter Olympic Games.</string>
		<string>Today I visited the last remaining jungle in Europe!</string>
		<string>Did you know births and weddings are still accompanied by celebratory gunfire here?</string>
		<string>Last night I visited Vrelo Bosne, a spring located south of Sarajevo.</string>
	</array>
	<key>Montenegro</key>
	<array>
		<string>I heard this country&apos;s name translates to &apos;Black Mountain.&apos;</string>
		<string>Today I walked along the beaches of the Adriatic Sea.</string>
		<string>Last night my friends and I explored Perast.</string>
		<string>Yesterday I visited Our Lady of the Rock. Did you know the monastery is located on its own island?</string>
		<string>I went swimming in the Bay of Kotor today.</string>
		<string>My friends and I drove up Mt Lovcen to go to the Njegos Mausoleum. The view of mountains was incredible!</string>
		<string>I visited the Ostrog Monastery today. I can&apos;t believe it&apos;s built directly into the mountain!</string>
		<string>I just went kayaking on Lake Skadar!</string>
		<string>I saw the clock tower in Herceg Novi today!</string>
	</array>
	<key>Poland</key>
	<array>
		<string>I hear that this country has the largest households in the European Union.</string>
		<string>I can&apos;t believe I&apos;m where Frédéric Chopin was born!</string>
		<string>Today I visited the oldest restaurant in Europe, Piwnica Swidnicka!</string>
		<string>Yesterday I tried pierogi for the first time and they were very yummy!</string>
		<string>Last night I went on an adventure in Krakow. My friend tells me it&apos;s often referred to as &apos;the next Prague.&apos;</string>
		<string>I took a tour through the Wieliczka Salt Mines today.</string>
		<string>I can&apos;t believe I just walked through sand dunes in Słowiński National Park!</string>
		<string>I bought Oscypek cheese from a market vendor yesterday. I love its intricate shape!</string>
		<string>Today I walked through Zaplipie&apos;s painted cottages. Now I know why it&apos;s called the painted village!</string>
	</array>
	<key>Macedonia</key>
	<array>
		<string>Sadly, there&apos;s no ocean to go to here because this country is landlocked.</string>
		<string>I can&apos;t believe I&apos;m where Mother Theresa of Calcutta was born!</string>
		<string>I hear this country has the more mountains than any other country in the world!</string>
		<string>My friends tell me this country has two flags!</string>
		<string>Today I saw the Millennium Cross, the biggest cross in the world!</string>
		<string>Yesterday I visited the Church of Sveti Jovan in Kaneo. I can&apos;t believe it was built over eight hundred years ago.</string>
		<string>I visited the Tvrdina Kale Fortress last night. The view of the city is absolutely breathtaking from up there.</string>
		<string>I just finished shopping at the Old Bazaar in Skopje.</string>
		<string>Today my friends and I explored the stone pathways around Matka canyon.</string>
	</array>
	<key>Belarus</key>
	<array>
		<string>Today I drank Birch sap for the first time. It was very delicious!</string>
		<string>Last night I saw a play at Vol&apos;naya Stsena.</string>
		<string>Yesterday I took a tour of Mir Castle Complex.</string>
		<string>I visited the Chagall Museum today. It had many of Chagall&apos;s lithographs and several representations of the tweleve tribes of Israel.</string>
		<string>I saw a hockey game at the Minsk-Arena last night.</string>
		<string>I just toured the oldest wildlife reserve in Europe!</string>
		<string>My friend tells me that this country is known for its skillful glassblowing.</string>
		<string>I hear this country hosts the Slavyansky Bazar Arts Festival during the summer.</string>
		<string>Today my friends and I had an adventurous day at Gorky Park.</string>
	</array>
	<key>Belgium</key>
	<array>
		<string>Here, the motorway system is visible from the moon!</string>
		<string>Did you know the world&apos;s tallest man lives here? This country is incredible.</string>
		<string>I went to the Malmedy carnival today!</string>
		<string>Yesterday I visited the world&apos;s diamond capital, Antwerp!</string>
		<string>Last night, I went to the &apos;Pearl of the Ardennes.&apos; It was incredibly luxurious!</string>
		<string>The chocolate here is as good as they say.</string>
		<string>I bought a delicious gaufre de liege from a street vendor today.</string>
		<string>This country has three official languages!</string>
		<string>Today, I visited the Atomium and it has the most beautiful view over the city.</string>
	</array>
	<key>Sweden</key>
	<array>
		<string>I can&apos;t believe I&apos;m where IKEA was founded!</string>
		<string>Today I visited Europe&apos;s largest shopping mall!</string>
		<string>My friend tells me that Skype and Spotify were founded here!</string>
		<string>Last night I got to stay at the Ice Hotel. It was absolutely breathtaking.</string>
		<string>I really enjoyed seeing the ships inside the Vasa Museum today.</string>
		<string>Tonight I&apos;m traveling to the &apos;Venice of the North!&apos;</string>
		<string>Tomorrow I&apos;m taking a Stromma boat tour.</string>
		<string>Yesterday I went to the Liseberg Amusement Park. It was a blast!</string>
		<string>Today I took a trip down to the Bothnian Coast.</string>
	</array>
	<key>Denmark</key>
	<array>
		<string>I&apos;m at the place where Lego&apos;s were created! It&apos;s that amazing?!</string>
		<string>I love the open-faced rye-bread sandwiches here!</string>
		<string>I just saw a Little Mermaid statue in Copenhagen!</string>
		<string>I went to Tivoli Gardens last night. It was just like a fairytale.</string>
		<string>I just took a boat around the Jutland peninsula! How cool is that!</string>
		<string>Last night I went on the rainbow rooftop at ARoS Art Museum.</string>
		<string>Today I got lost in the mazes of Labyrinthia!</string>
		<string>Nyhavn is beautiful! I love all of its the colorful buildings.</string>
		<string>I had a picnic in King&apos;s Garden this afternoon. It was quite peaceful.</string>
	</array>
</dict>
</plist>
