<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Switzerland</key>
	<array>
		<string>France</string>
		<string>Germany</string>
		<string>Italy</string>
		<string>Austria</string>
	</array>
	<key>Belgium</key>
	<array>
		<string>France</string>
		<string>Luxembourg</string>
		<string>Netherlands</string>
		<string>Germany</string>
	</array>
	<key>Slovenia</key>
	<array>
		<string>Austria</string>
		<string>Italy</string>
		<string>Hungary</string>
		<string>Croatia</string>
	</array>
	<key>Ukraine</key>
	<array>
		<string>Belarus</string>
		<string>Poland</string>
		<string>Slovakia</string>
		<string>Hungary</string>
		<string>Romania</string>
		<string>Moldova</string>
		<string>Russia</string>
	</array>
	<key>Netherlands</key>
	<array>
		<string>Belgium</string>
		<string>Germany</string>
	</array>
	<key>Denmark</key>
	<array>
		<string>Germany</string>
	</array>
	<key>Latvia</key>
	<array>
		<string>Estonia</string>
		<string>Russia</string>
		<string>Belarus</string>
		<string>Lithuania</string>
	</array>
	<key>France</key>
	<array>
		<string>United Kingdom</string>
		<string>Belgium</string>
		<string>Luxembourg</string>
		<string>Germany</string>
		<string>Switzerland</string>
		<string>Italy</string>
		<string>Spain</string>
	</array>
	<key>Finland</key>
	<array>
		<string>Russia</string>
		<string>Sweden</string>
		<string>Norway</string>
	</array>
	<key>Bosnia and Herzegovina</key>
	<array>
		<string>Croatia</string>
		<string>Serbia</string>
		<string>Montenegro</string>
	</array>
	<key>Italy</key>
	<array>
		<string>France</string>
		<string>Switzerland</string>
		<string>Austria</string>
		<string>Slovenia</string>
	</array>
	<key>Bulgaria</key>
	<array>
		<string>Romania</string>
		<string>Macedonia</string>
		<string>Serbia</string>
		<string>Greece</string>
	</array>
	<key>Moldova</key>
	<array>
		<string>Ukraine</string>
		<string>Romania</string>
	</array>
	<key>Serbia</key>
	<array>
		<string>Hungary</string>
		<string>Croatia</string>
		<string>Bosnia and Herzegovina</string>
		<string>Montenegro</string>
		<string>Macedonia</string>
		<string>Bulgaria</string>
		<string>Romania</string>
	</array>
	<key>Russia</key>
	<array>
		<string>Finland</string>
		<string>Estonia</string>
		<string>Latvia</string>
		<string>Belarus</string>
		<string>Ukraine</string>
	</array>
	<key>Sweden</key>
	<array>
		<string>Denmark</string>
		<string>Finland</string>
		<string>Norway</string>
	</array>
	<key>Belarus</key>
	<array>
		<string>Latvia</string>
		<string>Lithuania</string>
		<string>Poland</string>
		<string>Ukraine</string>
		<string>Russia</string>
	</array>
	<key>Estonia</key>
	<array>
		<string>Latvia</string>
		<string>Russia</string>
	</array>
	<key>Albania</key>
	<array>
		<string>Montenegro</string>
		<string>Macedonia</string>
		<string>Greece</string>
	</array>
	<key>Austria</key>
	<array>
		<string>Germany</string>
		<string>Czech Republic</string>
		<string>Slovakia</string>
		<string>Hungary</string>
		<string>Slovenia</string>
		<string>Italy</string>
		<string>Switzerland</string>
	</array>
	<key>Poland</key>
	<array>
		<string>Belarus</string>
		<string>Ukraine</string>
		<string>Slovakia</string>
		<string>Czech Republic</string>
		<string>Germany</string>
	</array>
	<key>Norway</key>
	<array>
		<string>Sweden</string>
		<string>Finland</string>
		<string>Russia</string>
	</array>
	<key>Hungary</key>
	<array>
		<string>Slovakia</string>
		<string>Ukraine</string>
		<string>Romania</string>
		<string>Serbia</string>
		<string>Croatia</string>
		<string>Slovenia</string>
		<string>Austria</string>
	</array>
	<key>Germany</key>
	<array>
		<string>Netherlands</string>
		<string>Belgium</string>
		<string>Luxembourg</string>
		<string>France</string>
		<string>Switzerland</string>
		<string>Austria</string>
		<string>Czech Republic</string>
		<string>Poland</string>
		<string>Denmark</string>
	</array>
	<key>Portugal</key>
	<array>
		<string>Spain</string>
	</array>
	<key>United Kingdom</key>
	<array>
		<string>Ireland</string>
		<string>France</string>
		<string>Belgium</string>
		<string>Netherlands</string>
	</array>
	<key>Luxembourg</key>
	<array>
		<string>Belgium</string>
		<string>France</string>
		<string>Germany</string>
	</array>
	<key>Lithuania</key>
	<array>
		<string>Latvia</string>
		<string>Belarus</string>
		<string>Poland</string>
	</array>
	<key>Slovakia</key>
	<array>
		<string>Poland</string>
		<string>Czech Republic</string>
		<string>Austria</string>
		<string>Hungary</string>
		<string>Ukraine</string>
	</array>
	<key>Macedonia</key>
	<array>
		<string>Serbia</string>
		<string>Bulgaria</string>
		<string>Greece</string>
		<string>Albania</string>
	</array>
	<key>Greece</key>
	<array>
		<string>Albania</string>
		<string>Macedonia</string>
		<string>Bulgaria</string>
		<string>Turkey</string>
	</array>
	<key>Romania</key>
	<array>
		<string>Ukraine</string>
		<string>Moldova</string>
		<string>Bulgaria</string>
		<string>Serbia</string>
		<string>Hungary</string>
	</array>
	<key>Turkey</key>
	<array>
		<string>Bulgaria</string>
		<string>Greece</string>
	</array>
	<key>Ireland</key>
	<array>
		<string>United Kingdom</string>
	</array>
	<key>Czech Republic</key>
	<array>
		<string>Germany</string>
		<string>Poland</string>
		<string>Slovakia</string>
		<string>Austria</string>
	</array>
	<key>Spain</key>
	<array>
		<string>Portugal</string>
		<string>France</string>
	</array>
	<key>Montenegro</key>
	<array>
		<string>Bosnia and Herzegovina</string>
		<string>Serbia</string>
		<string>Albania</string>
	</array>
	<key>Croatia</key>
	<array>
		<string>Bosnia and Herzegovina</string>
		<string>Hungary</string>
		<string>Serbia</string>
		<string>Slovenia</string>
	</array>
</dict>
</plist>
